html {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, button {
  font-family: "Roboto", sans-serif;
  color: #393939;
  letter-spacing: 2px;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 11px;
}
a:link {
  color: #8c8c8c;
}

.menu-cat {
  font-weight: bolder;
  text-shadow: 0px 0px 0.1px #000;
}

.navbackground {
  position: fixed;
  top: 0;
  z-index: 9999;
  border-bottom: #eee solid 1px;
  height: 50px;
  background-color: #fff;
  width: 100%;
  font-size: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  max-width: 1440px;
}
.navbar .menu {
  width: 25%;
}

.menu-ul {
  display: flex;
  justify-content: space-between;
}
.menu-ul li {
  list-style: none;
}

.footer-menu {
  color: #8c8c8c;
  font-size: 11px;
  line-height: 20px;
}
.footer-menu hr {
  color: #8c8c8c;
}

.right-buttons {
  display: flex;
  align-items: baseline;
  min-width: 275px;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.main-body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 1440px;
  margin-bottom: 175px;
}

.featured-row, .small-feature-module {
  display: flex;
}

.image-wrap {
  width: 50%;
  margin: 8px;
  position: relative;
}
.image-wrap img {
  display: block;
  width: 100%;
}
.image-wrap:hover {
  opacity: 0.6;
}

.sm-image-wrap {
  width: 33.3333333333%;
  margin: 8px;
  position: relative;
}
.sm-image-wrap img {
  display: block;
  width: 100%;
}
.sm-image-wrap:hover {
  opacity: 0.6;
}

.btn {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, 0);
  padding: 4px 20px;
  border: none;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: Helvetica;
}

.banner, .shipping {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}
.banner img, .shipping img {
  display: block;
  width: 100%;
}

.shipping {
  transform: scale(0.7);
}

.footer-wrapper {
  background-color: #f5f5f5;
  border-top: #eee solid 1px;
}

.footer1, .footer2, .footer3 {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.footer1 ul, .footer2 ul, .footer3 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer1 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.f1-message, .form1 {
  width: 45%;
}

.form1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.form1 input {
  padding: 12px 12px;
  margin: 4px;
  border: #a6a6a6 1px solid;
}
.form1 button {
  background-color: #000;
  color: #fff;
  padding: 12px 12px;
  margin: 4px;
}
.form1 button:hover {
  background-color: #333333;
}
.form1 label {
  margin-left: 4px;
}

.smallFont {
  font-size: 12px;
}

.privacy {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 9.5px;
}

.social-icons ul, .app-buttons ul {
  display: flex;
}
.social-icons li, .app-buttons li {
  padding-right: 8px;
}
.social-icons i, .app-buttons i {
  font-size: 18px;
  background: -webkit-linear-gradient(#DE32E8, #6B53FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.last-item {
  margin-top: 20px;
}

.footer3 {
  padding-top: 70px;
  padding-bottom: 64px;
}
.footer3 ul {
  display: flex;
}
.footer3 li, .footer3 p {
  font-size: 9px;
  color: #8c8c8c;
  padding-right: 12px;
}

.menu ul {
  overflow: hidden;
}
.menu li {
  margin-right: 5px;
}

.submenu {
  width: 80%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
.submenu li:hover {
  color: blue;
}

#womens {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  top: 50px;
  right: 25%;
  height: 50px;
  background-color: #fff;
  border: #eee solid 1px;
}

#womens-tab:hover #womens, .submenu:hover #womens {
  display: flex;
}

.menu, .menu-ul {
  height: 80%;
}

.logo {
  display: block;
  background: url("../img/logo.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 30%;
}

.hamburger {
  font-size: 22px;
  font-weight: lighter;
  display: none;
}

@media screen and (max-width: 1440px) {
  .main-body {
    margin-left: 12px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 1080px) {
  .logo {
    background: url("../img/logo-mobile.gif") no-repeat;
    background-position: left center;
    width: 10%;
  }
}
@media screen and (max-width: 920px) {
  .search input, .right-buttons span {
    display: none;
  }

  .right-buttons {
    min-width: 0;
    width: 75px;
  }

  .menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .logo {
    display: block;
    background: url("../img/logo.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30%;
    transform: translate(20%, 0);
  }
}
@media screen and (max-width: 690px) {
  .navbackground {
    border-bottom: none;
  }

  .logo {
    background: url("../img/logo-mobile.gif") no-repeat;
    background-size: contain;
    background-position: left center;
    width: 10%;
    height: 30px;
    transform: translate(60%, 0);
  }

  .featured-row, .small-feature-module, .footer1, .form1, .footer2, .footer3 {
    flex-direction: column;
  }

  .image-wrap, .sm-image-wrap, .f1-message, .form1, .f1input, #email-in, .f1button, .f1button button, .footer-object, .footer-menu, .footer-menu ul {
    width: 100%;
    max-width: 100%;
  }

  .btn {
    width: 90%;
    bottom: 2%;
  }

  .footer-object {
    padding-bottom: 20px;
    border-bottom: 2px white solid;
  }

  hr {
    display: none;
  }

  .f1-message p, .privacy, .menu-cat, .footer-menu, .last-item {
    text-align: center;
  }

  .social-icons ul, .app-buttons ul {
    justify-content: center;
  }

  .footer3 ul {
    flex-wrap: wrap;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }
  .footer3 ul li {
    padding-bottom: 18px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .pipe {
    display: none;
  }
}

/*# sourceMappingURL=output.css.map */
